$dark-grey: #202020;
$light-green: #94fdfd;
$soft-green: #74dacc;
$white: #fff;
$light-grey: #3a3a3a;
$second-grey: #2b2b2b;
$light-swan: #d5eeeb;

:export {
  drakGrey: $dark-grey;
  lightGreen: $light-green;
  softGreen: $soft-green;
  white: $white;
  lightGrey: $light-grey;
  secondGrey: $second-grey;
  lightSwan: $light-swan;
}
